[NazoMin%NZM_CHARSET_PS_NAME-%NZM_WEIGHT_STR]
  f=NazonoMincho%NZM_CHARSET_NAME
  s=%NZM_WEIGHT_STR
  l=NazonoMincho%NZM_CHARSET_NAME %NZM_WEIGHT_STR

  f=3,1,0x411,\8B0E\4E43\660E\671D%NZM_CHARSET_NAME
  s=3,1,0x411,%NZM_WEIGHT_STR
  l=3,1,0x411,\8B0E\4E43\660E\671D%NZM_CHARSET_NAME %NZM_WEIGHT_STR

  f=1,1,11,\93\E4\94\54\96\BE\92\A9%NZM_CHARSET_NAME
  s=1,1,11,%NZM_WEIGHT_STR
  l=1,1,11,\93\E4\94\54\96\BE\92\A9%NZM_CHARSET_NAME %NZM_WEIGHT_STR
  